
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif !important;
     

     

}
Button{
    text-transform: none !important;
    
    
}
.loginInput .MuiInputBase-input {
    color: white;
  }
  
  .loginInput label.Mui-focused {
    color: white;
  }
  
  .loginInput .MuiInput-underline:after {
    borderBottomColor: white;
  }
  
  .loginInput .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }
  
  .loginInput .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }
  
  .loginInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }
  .loginInput .MuiInputBase-input::placeholder {
    color: white !important;
    opacity: 1; 
  }