
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif !important;
     

     

}
.home{
  overflow: hidden;
 padding: 3rem;
 display: flex;
 flex: 1;
}
.our-story{
 display: flex;
 flex: 1;
}
.imgContainer{
  display: flex;
 flex: 1;
}
Button{
    text-transform: none !important;
    
    
}
.loginInput .MuiInputBase-input {
    color: white;
  }
  
  .loginInput label.Mui-focused {
    color: white;
  }
  
  .loginInput .MuiInput-underline:after {
    borderBottomColor: white;
  }
  
  .loginInput .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }
  
  .loginInput .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }
  
  .loginInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }
  .loginInput .MuiInputBase-input::placeholder {
    color: white !important;
    opacity: 1; 
  }
 

  .line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
   
  }
  .btn{
    color: #3cb97f!important;
  }
  .btnSeeDetails{
    color:  #3cb97f!important;
    border: #3cb97f !important
  }
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



@keyframes blinkAnimation {
  0% { opacity: 1; color: #3cb97f; }
  50% { opacity: 0.7;color:#20744c }
  75%{opacity: 0.5; color:#567f6b}
  100% { opacity: 1; color:#567f6b}
}

.advice {
  animation: blinkAnimation 2s linear infinite;
}

